@import url(https://fonts.googleapis.com/css?family=Kavoon);

/* Appliquer un arrière-plan continu avec les trois couleurs */
body {
  font-family: 'Kavoon', cursive;
  margin: 0; /* Supprimer la marge par défaut du body */
  background: linear-gradient(160deg, #030c20, #121b39, #2d4065);
  height: 100vh; /* Hauteur de la page égale à la hauteur de l'écran */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between; /* Espacement entre les éléments verticalement */
  align-items: center; /* Centrer les éléments horizontalement */
  padding: 20px; /* Ajouter de l'espace autour de la page */
}




/* Appliquer les styles responsifs pour les appareils mobiles */
@media (max-width: 414px) {
  body {
    font-size: 16px;
  }



  /* Ajuster la taille des boutons */
  .btn-hover {
    width: 80%;
    height: auto;
    font-size: 14px;
    margin: 10px auto;
  }

  /* Ajuster la taille des zones de texte */
  input[type="text"] {
    width: 80%;
    font-size: 14px;
  }

  /* Ajuster la taille des boutons toggle */
  .toggle-button-cover {
    width: 100%;
    margin: 10px auto;
  }

  /* Ajuster la taille des questions et actions */
  #questionText,
  #actionText,
  #randomNumberMessage {
    font-size: 14px;
  }
}


#player-names,
#game-frame {
  background-color: transparent; /* Fond transparent */
  text-align: center;
  padding: 20px; /* Ajouter un peu d'espace autour du contenu */
  width: 100%; /* Occuper toute la largeur de la page */
  max-width: 600px; /* Limiter la largeur maximale */
  box-sizing: border-box; /* Inclure les marges et bordures dans la largeur */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer les éléments verticalement */
  align-items: center; /* Centrer les éléments horizontalement */
  margin-top: 20px; /* Espacement entre les éléments */
  font-size: 18px; /* Agrandissement du texte */
}

#player-names {
  text-align: center;
  margin-top: 150px; /* Espacement depuis le haut de la page */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player1,
#player2 {
  margin: 50px 0; /* Espacement entre les champs Player */
  font-size: 18px; /* Agrandissement du texte */
  display: box;
}

#game-frame {
  flex: 1; /* Remplir l'espace restant */
  margin-bottom: 20px; /* Espacement en bas */
}

.button-cover {
  background-color: #fff;
  margin-top: auto; /* Aligner en bas de la page */
}


buttonn {
  margin: 10px;
}

.row {
  display: table-row;
}
.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff0;
}

.button-cover:before {
  counter-increment: button-counter;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 4px;
  background-color: #03a9f4;
}

#button-10 .knobs:after {
  content: "NO";
  right: 4px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 42px;
  background-color: #f44336;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.btn-hover.color-12 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
